/Conjugation.class
/HelloTest.class
/PersistentList.class
/Process1.class
/QuickTest.class
/Searcher.class
/TextGetter.class
/TestTagger.class
/WordManager.class
/TestNLG.class
/SentenceManager.class
/NounPluralHandler.class
/Inflector$Rule.class
/Inflector.class
/ProcessTenses.class
